<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  </head>
  <body>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <img src="/images/god gallery/vedanttttt.jpg" alt="Logo" class="logo">
      <a href="#" class="logo">Vedant Devotions</a>
      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="#">Home</a></li>
        <li><a href="#">video more</a></li>
        <li><a href="#">trending videos</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div>
    </nav>

                <!-- mobile menu toogle -->



                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hambuger"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- end nav -->

    <!-- hero0-section -->
     <div class="hero-section">
        <div class="hero-slide">
            <div class="carousel-nav-center" id="hero-carousel">
                <div class="hero-slide-item">
                    <video autoplay loop muted src="/images/god gallery/peace (1).mp4"></video>
                     <div class="overlay"></div>
                     <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title">

                              

                              <!-- <div class="typetwrighter"> -->
                                <!-- <h1>hi! 
                                  <span class="auto-type"></span>
                                  
                                </h1>
                             </div> -->
                             
                             <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
                             

                               <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ab quas vitae iusto sint maxime officia, excepturi est quo rem itaque eos magni explicabo quae.</p> -->

                                <!-- <p>Discover a collection of devotional videos that inspire, uplift, and bring peace to your soul. Explore the power of faith with our curated spiritual content, updated daily to guide you on your journey.</p> -->

                                <!-- Welcome to<span class="main-color">Vedant</span>Devotions -->
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <!-- <span>9.5</span> -->
                                </div>


                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <!-- <span>25 mint</span> -->

                                </div>
                                <div class="movie-info">
                                    <!-- <span>HD</span> -->
                                </div>
                                
                                <div class="movie-info"></div>
                                    <!-- <span>10+</span> -->
                                </div>


                                <div class="item-content-description">
                                    <!-- <p>Immerse yourself in the world of devotion. At Vedant Devotions, we bring you a curated collection of spiritual and devotional videos designed to uplift your soul, calm your mind, and inspire your heart. Let the power of faith guide your journey through our wide range of divine content, updated daily for your spiritual well-being.</p> -->

                                    <!-- <p>Discover a collection of devotional videos that inspire, uplift, and bring peace to your soul. Explore the power of faith with our curated spiritual content, updated daily to guide you on your journey.</p> -->

                                </div>
                                <div class="item-action">
                                    <a href="#" class="btn btn-hover">
                                        <i class="bx bxs-right-arrow"></i>

                                        <!-- <span>watch now</span> -->
                                    </a>

                                </div>


                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
     </div>
    <!--endd hero-section -->




    <!-- signup section -->
 

     <div class="contain_archive"> 
        <h1>devotions Video Gallery</h2><hr>
      <div class="row_nm_videos">
      <div class="row__inner">
      <div class="tile" id="facebook_1">
      <div class="tile__media">
      
        <img class="tile__img" src="/images/god gallery/gannu 1.jpeg" alt=""  /> 
       <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/nLnp0tpZ0ok?si=yfIkcWcQL2rMqi82" frameborder="0"></iframe> -->

        <!-- <iframe src="https://youtu.be/embed/l_00zxn6dFVe1bP3" frameborder="0"></iframe> -->
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/nLnp0" allowfullscreen></iframe> -->
        <!-- <div id="rightpart"> <iframe src="https://www.youtube.com/embed/UPNkOwabRDY" frameborder="0"></iframe> -->

      <div class="tile_desc">Morning Aarti – 6 AM</div>
        </div><div class="tile__details"><div class="tile__title">
        </div>
        </div>
        </div>
      <div class="tile" id="facebook_2"><div class="tile__media">
        <img class="tile__img" src="/images/god gallery/gannu 1.jpeg" alt=""  />
        <div class="tile_desc"> Shiv Tandav – 8 AM </div>
        </div>
        <div class="tile__details">
          <div class="tile__title">
                </div>
              </div>
            </div>
      <div class="tile" id="facebook_3">
      <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu2.jpeg" alt=""  />
        <div class="tile_desc"> Hanuman Chalisa – 10 AM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
      
      
            <div class="tile" id="facebook_7">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu3.jpeg" alt=""  />
                <div class="tile_desc"> Om Jai Jagdish – 12 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu 12.webp" alt=""  />
                <div class="tile_desc"> Gita Teachings – 2 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu 4.jpeg" alt=""  />
                <div class="tile_desc"> Ramayana Katha – 4 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu 15.jpeg" alt=""  />
                <div class="tile_desc"> Krishna Bhajan – 6 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu5.jpeg" alt=""  />
                <div class="tile_desc"> Ganesh Aarti – 8 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu7.jpeg" alt=""  />
                <div class="tile_desc"> Shree Ram Bhajan – 9 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile vimeo">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu8.webp" alt=""  />
                <div class="tile_desc"> Shiv Mahimna Stotra – 10 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
            <div class="tile">
              <div class="tile__media">
                <img class="tile__img" src="/images/god gallery/gannu 9.webp" alt=""  />
                <div class="tile_desc"> Santoshi Mata Aarti – 11 PM </div>
              </div>
              <div class="tile__details">
                <div class="tile__title">
                </div>
              </div>
            </div>
      
          </div>
        </div>
      
      </div>


      <h1>trending videos</h2><hr>
        <div class="row_nm_videos">
        <div class="row__inner">
        <div class="tile" id="facebook_1">
        <div class="tile__media">
        
         <img class="tile__img" src="/images/god gallery/krishna 1.jpeg " alt=""  />
          <!-- <iframe src="https://youtu.be/embed/l_00zxn6dFVe1bP3" frameborder="0"></iframe> -->
          
        <div class="tile_desc">Morning Aarti – 6 AM</div>
          </div><div class="tile__details"><div class="tile__title">
          </div>
          </div>
          </div>
        <div class="tile" id="facebook_2"><div class="tile__media">
          <img class="tile__img" src="/images/god gallery/gannu 1.jpeg" alt=""  />
          <div class="tile_desc"> Shiv Tandav – 8 AM </div>
          </div>
          <div class="tile__details">
            <div class="tile__title">
                  </div>
                </div>
              </div>
        <div class="tile" id="facebook_3">
        <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu2.jpeg" alt=""  />
          <div class="tile_desc"> Hanuman Chalisa – 10 AM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
        
        
              <div class="tile" id="facebook_7">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu3.jpeg" alt=""  />
                  <div class="tile_desc"> Om Jai Jagdish – 12 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu 12.webp" alt=""  />
                  <div class="tile_desc"> Gita Teachings – 2 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu 4.jpeg" alt=""  />
                  <div class="tile_desc"> Ramayana Katha – 4 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu 15.jpeg" alt=""  />
                  <div class="tile_desc"> Krishna Bhajan – 6 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu5.jpeg" alt=""  />
                  <div class="tile_desc"> Ganesh Aarti – 8 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu7.jpeg" alt=""  />
                  <div class="tile_desc"> Shree Ram Bhajan – 9 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile vimeo">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu8.webp" alt=""  />
                  <div class="tile_desc"> Shiv Mahimna Stotra – 10 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
              <div class="tile">
                <div class="tile__media">
                  <img class="tile__img" src="/images/god gallery/gannu 9.webp" alt=""  />
                  <div class="tile_desc"> Santoshi Mata Aarti – 11 PM </div>
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        
        </div>

        <h1>upcoming videos</h2><hr>
          <div class="row_nm_videos">
          <div class="row__inner">
          <div class="tile" id="facebook_1">
          <div class="tile__media">
          
           <img class="tile__img" src="/images/god gallery/krishna 1.jpeg " alt=""  />
            <!-- <iframe src="https://youtu.be/embed/l_00zxn6dFVe1bP3" frameborder="0"></iframe> -->
            
          <div class="tile_desc">Morning Aarti – 6 AM</div>
            </div><div class="tile__details"><div class="tile__title">
            </div>
            </div>
            </div>
          <div class="tile" id="facebook_2"><div class="tile__media">
            <img class="tile__img" src="/images/god gallery/gannu 1.jpeg" alt=""  />
            <div class="tile_desc"> Shiv Tandav – 8 AM </div>
            </div>
            <div class="tile__details">
              <div class="tile__title">
                    </div>
                  </div>
                </div>
          <div class="tile" id="facebook_3">
          <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu2.jpeg" alt=""  />
            <div class="tile_desc"> Hanuman Chalisa – 10 AM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
          
          
                <div class="tile" id="facebook_7">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu3.jpeg" alt=""  />
                    <div class="tile_desc"> Om Jai Jagdish – 12 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu 12.webp" alt=""  />
                    <div class="tile_desc"> Gita Teachings – 2 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu 4.jpeg" alt=""  />
                    <div class="tile_desc"> Ramayana Katha – 4 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu 15.jpeg" alt=""  />
                    <div class="tile_desc"> Krishna Bhajan – 6 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu5.jpeg" alt=""  />
                    <div class="tile_desc"> Ganesh Aarti – 8 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu7.jpeg" alt=""  />
                    <div class="tile_desc"> Shree Ram Bhajan – 9 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile vimeo">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu8.webp" alt=""  />
                    <div class="tile_desc"> Shiv Mahimna Stotra – 10 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
                <div class="tile">
                  <div class="tile__media">
                    <img class="tile__img" src="/images/god gallery/gannu 9.webp" alt=""  />
                    <div class="tile_desc"> Santoshi Mata Aarti – 11 PM </div>
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                    </div>
                  </div>
                </div>
          
              </div>
            </div>
          
          </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- <div class="container"> -->
        <!-- <div class="heading">Sign In</div>
        <!-- <form action="" class="form"> 
          <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
          <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
          <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
          <input class="login-button" type="submit" value="Sign In">
          
        </form>
        <div class="social-account-container">
            <!-- <span class="title">Or Sign in with</span>
            <div class="social-accounts">
              <button class="social-button google">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 488 512">
                  <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
                </svg></button>
              <button class="social-button apple">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                  <path d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path>
                </svg>
              </button>
              <button class="social-button twitter">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path>
                </svg>
              </button>
            </div>
          </div>
          <span class="agreement"><a href="#">Learn user licence agreement</a></span>
      <!-- </div> -->
    
    <!-- video endd section -->


    <!-- signup section -->

    <div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="#" class="form" id="form1">
			<h2 class="form__title">Sign Up</h2>
			<input type="text" placeholder="User" class="input" />
			<input type="email" placeholder="Email" class="input" />
			<input type="password" placeholder="Password" class="input" />
			<button class="btn">Sign Up</button>
		</form>
	</div>

	<!-- Sign In -->
	<div class="container__form container--signin">
		<form action="#" class="form" id="form2">
			<h2 class="form__title">Sign In</h2>
			<input type="email" placeholder="Email" class="input" />
			<input type="password" placeholder="Password" class="input" />
			<a href="#" class="link">Forgot your password?</a>
			<button class="btn">Sign In</button>
		</form>
	</div>

	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<!-- <button class="btn" id="signIn">Sign In</button> -->
			</div>
			<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

    <!-- singup --endd -->

     <!-- FOOTER SECTION -->
     <footer class="section">
      <div class="container">
          <div class="row">
              <div class="col-4 col-md-6 col-sm-12">
                  <div class="content">
                      <a href="#" class="logo">
                          <i class='bx bx-movie-play bx-tada main-color'></i>Ved<span class="main-color">nt</span>Devotions
                      </a>
                      <p>
                          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores, quibusdam? -->
                          At Vedant Devotions, we are committed to bringing you closer to the divine through devotional videos, aartis, and bhajans. Our platform is a spiritual haven, designed to guide you on your path to peace, wisdom, and inner tranquility.

                          We offer a variety of sacred content, including hymns and teachings from revered texts, allowing you to deepen your connection to the divine. Join us in experiencing the power of devotion and embracing the blessings of spiritual growth.
                          
                          
                        </p>
                      <div class="social-list">
                          <a href="#" class="social-item">
                              <i class="bx bxl-facebook"></i>
                          </a>
                          <a href="#" class="social-item">
                              <i class="bx bxl-twitter"></i>
                          </a>
                          <a href="#" class="social-item">
                              <i class="bx bxl-instagram"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-8 col-md-6 col-sm-12">
                  <div class="row">
                      <div class="col-3 col-md-6 col-sm-6">
                          <div class="content">
                              <p><b>Vedant Devotions</b></p>
                              <ul class="footer-menu">
                                  <li><a href="#">About us</a></li>
                                  <li><a href="#">My profile</a></li>
                                  <!-- <li><a href="#">Pricing plans</a></li> -->
                                  <li><a href="#">Contacts</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-3 col-md-6 col-sm-6">
                          <div class="content">
                              <p><b>Browse</b></p>
                              <ul class="footer-menu">
                                  <li><a href="#">About us</a></li>
                                  <li><a href="#">My profile</a></li>
                                  <!-- <li><a href="#">Pricing plans</a></li> -->
                                  <li><a href="#">Contacts</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-3 col-md-6 col-sm-6">
                          <div class="content">
                              <p><b>Help</b></p>
                              <ul class="footer-menu">
                                  <li><a href="#">About us</a></li>
                                  <li><a href="#">My profile</a></li>
                                  <!-- <li><a href="#">Pricing plans</a></li> -->
                                  <li><a href="#">Contacts</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-3 col-md-6 col-sm-6">
                          <div class="content">
                              <p><b>Download app</b></p>
                              <ul class="footer-menu">
                                  <li>
                                      <a href="#">
                                          <img src="./images/google-play.png" alt="">
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <img src="./images/app-store.png" alt="">
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- END FOOTER SECTION -->
    

    
      

   

    
    
    
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="/javascripts/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    
</body>
</html>
